* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 3px 40px;
}

li {
    text-decoration: none;
    margin: 5px;
}

body {
    display:flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: grey;
    color: white;
    justify-content: space-between;
    height: 35px;
    padding: 15px;
}

#header-image {
    background-image: url(../images/header-pic.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

#cool-subtitle {
    position: relative;
    background-color: grey;
    top: 80%;
    left: 88%;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    height: 35px;
    width: 10%;
    font-size: 10px;
}

main section {
    background-color: lightgrey;
    height: 200px;
    border: 1px solid black;
}

#contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 35px;
    border: 2px solid black;
}

#contact-me a {
    color: white;
}

footer {
    bottom: 0;
    align-items: center;
    background-color: grey;
    color: white;
}

footer #contact-me {
    padding: 15px;
}

footer h2 {
    height: 35px;
    text-align: center;
    padding: 15px;
}